@use '../abstract/functions' as f;
@use '../abstract/colors' as c;

@mixin bgcolor(){
    background-image: linear-gradient(c.$secondaryColor, c.$primaryColor);
    &:hover {
        opacity: 0.9;
    }
}
    .main-button {
    @include f.shadow();
    @include bgcolor();
    @include f.textmd();
    color: c.$white;
    border-radius: 30px;
    min-width: 200px;
    padding: 20px 5%;
    border: none;
}
