@use '../abstract/colors' as c;

header {
    position: sticky;
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 5px 0 c.$darkerGrey;
    position: relative;

    img {
        margin: 25px 0;
        width: 150px;
    }

    a {
        position: absolute;
        align-self: center;
        left: 25px;
        text-decoration: none;
        color: c.$black;
    }
}