@use '../abstract/functions' as f;
@use '../abstract/fonts';
@use '../abstract/colors' as c;

.background {
    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}

.menu-section {
    background-color: c.$darkGrey;
    border-radius: 30px 30px 0 0;
    padding: 25px;
    position: relative;
    bottom: 30px;

    .title {
        @include f.flex(row);
        @include f.textlg();
        font-family: fonts.$title;
        align-content: center;
        border: solid;
        position: relative;
    }
}