@use '../abstract/functions' as f;
@use '../abstract/fonts';
@use '../abstract/colors' as c;

.background {
    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}

.menu-section {
    @include f.flex(column);
    background-color: c.$lightGrey;
    border-radius: 30px 30px 0 0;
    padding: 25px;
    position: relative;
    bottom: 30px;
    gap: 45px;

    .title {
        @include f.flex(row);
        @include f.textlg();
        font-size: x-large;
        font-family: fonts.$title;
        align-content: center;
        position: relative;
    }

    .menu {
        @include f.flex(column);
        gap: 25px;

        p {
            margin: 0;
        }

        .subtitle {
            @include f.textlg;
            font-weight: 300;

            span {
                border-bottom: 3px c.$tertiaryColor solid;
                padding-bottom: 5px;
            }
        }

        .menu-cards-container {
            @include f.flex(column);
            gap: 15px;

            @include f.desktop {
                @include f.flex(row);
                flex-wrap: wrap;
            }

            .card-wrapper {
                @include f.flex(row);
                @include f.card(70px);
                overflow: hidden;

                @include f.desktop {
                    width: 300px
                }

                .card-text {
                    @include f.flex(column);
                    padding: 10px;
                    width: 90%;
                    overflow: hidden;

                    .card-title {
                        @include f.textmd;
                        font-weight: 500;
                        margin-bottom: auto;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    .card-description {
                        @include f.textsm;
                        font-weight: 300;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }

                .price {
                    @include f.flex(row);
                    @include f.textsm;
                    width: 10%;
                    height: 100%;
                    flex-wrap: wrap;
                    align-content: flex-end;
                    justify-content: end;
                    font-weight: 600;
                    padding: 10px;
                }

                .check {
                    @include f.flex(column);
                    flex-wrap: wrap;
                    background-color: c.$tertiaryColor;
                    width: 0%;
                    transition: width 1s ease;

                    justify-content: center;
                    align-content: center;
                    overflow: hidden;

                    i {

                        @include f.flex(row);
                        visibility: hidden;
                        transition: visibility 1s ease;
                        color: c.$tertiaryColor;
                        background-color: c.$white;
                        border-radius: 50%;
                        height: 25px;
                        width: 25px;
                        justify-content: center;
                        align-items: center;
                    }
                }

                &:hover .check {

                    width: 20%;
                    transition: width 0.4s ease-in-out;
                }

                &:hover i {
                    visibility: visible;
                    transform: rotate(360deg);
                    transition: transform 0.7s;
                }

                &:hover .card-text {
                    width: 70%;
                    transition: width 1s ease-in-out;
                }
            }
        }
    }
}

.app {
    position: relative;
    opacity: 0;
    animation: appear 1s ease-in;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.ent {
    position: relative;
    opacity: 0;
    animation: appear 1s ease-in;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.des {
    position: relative;
    opacity: 0;
    animation: appear 1s ease-in;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}