@use '../abstract/functions' as f; 
@use '../abstract/colors' as c;

@mixin card () {

}

.restaurants {
    @include f.flex(column);
    padding: 25px 25px 45px 25px;
    background-color: c.$lightGrey;

    .section-title {
        @include f.textlg;
    }

    .restaurants-cards-container {
        @include f.flex(column);
        gap: 25px;

        @include f.desktop {
            @include f.flex(row);
            flex-wrap: wrap;
        }

        a {
            text-decoration: none;
        }
        .restaurant-card {
            @include f.card(250px);
            @include f.desktop {
                width: 300px;
            }
            .img-container {
                width: 100%;
                height: 75%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .details{
                @include f.flex(row);
                align-items: center;
                padding: 10px;
                position: relative;
                p{
                    margin: 0;
                    line-height: 1.3;
                }
                .restaurant-card-title {
                    @include f.textmd;
                    font-weight: 600;
                }
                .restaurant-card-description {
                    @include f.textmd;
                }
                span {
                    position: absolute;
                    right: 10px;
                    cursor: pointer;
                    
                    .fa-solid {
                        color: transparent;
                    }
                    .fa-regular {
                        color: black;
                    }
                    &:hover .fa-solid{
                        background-clip: text;
                        background-image: linear-gradient(c.$secondaryColor, c.$primaryColor);
                    } 
                    &:hover .fa-regular {
                        color: transparent;
                    }
                    }

                }

                
                
                }
            }
        }
        
    
