@use '../abstract/functions' as f;
@use '../abstract/colors' as c;

.restaurants {
    @include f.flex(column);
    padding: 25px 25px 45px 25px;
    background-color: c.$lightGrey;

    .section-title {
        @include f.textlg;
    }

    .restaurants-cards-container {
        @include f.flex(column);
        gap: 25px;

        @include f.tablet {
            @include f.flex(row);
            flex-wrap: wrap;
            width: 100%;
            border: solid;
            justify-content: space-around;
        };

        @include f.desktop {
            @include f.flex(row);
            flex-wrap: wrap;
            width: 100%;
            border: solid;
            justify-content: space-around;
        }

        a {
            text-decoration: none;
            @include f.tablet {
                width: 45%;
                min-width: 300px;
            };
            @include f.desktop {
                width: 45%;
                min-width: 300px;
            };

            .restaurant-card {
                @include f.card(250px);
                position: relative;

                .new {
                    @include f.textsm();
                    color: c.$tertiaryColorDark;
                    font-weight: 500;
                    display: flex;
                    flex-wrap: wrap;
                    position: absolute;
                    background-color: c.$tertiaryColor;
                    align-content: center;
                    top: 10px;
                    right: 10px;
                    padding: 0 25px;
                    height: 30px;
                    border-radius: 3px;
                }

                .img-container {
                    width: 100%;
                    height: 75%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .details {
                    @include f.flex(row);
                    padding: 10px;
                    position: relative;

                    p {
                        margin: 0;
                        line-height: 1.3;
                    }

                    .restaurant-card-title {
                        @include f.textmd;
                        font-weight: 600;
                    }

                    .restaurant-card-description {
                        @include f.textmd;
                    }

                }
            }
        }
    }
}