@use '../abstract/functions' as f; 

@mixin card () {

}

.restaurants {
    @include f.flex(column);
    padding: 5%;

    .restaurants-cards-container {
        border: solid;

        .restaurant-card {
            width: 100%;
            height: 200px;
            .img-container {
                width: 100%;
                height: 70%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }}
        
    }
}