@use '../abstract/functions' as f;
@use '../abstract/colors' as c;

.steps {
    @include f.flex(column);
    padding: 25px 25px 45px 25px;

    #steps-title {
        @include f.textlg();
    }
    .cards-container {
        @include f.flex(column);
        padding-left: 12px;
        @include f.desktop {
            @include f.flex(row);
            justify-content: space-between
        };
        @include f.tablet {
            @include f.flex(row);
        };
        gap: 25px;
    
        .step-card {
            @include f.flex(row);
            @include f.shadow;
            @include f.card(70px);
            background-color: c.$lightGrey;
            align-items: center;
            gap: 20px;
            padding-left: 32px;
            position: relative;
            overflow: visible;
            &:hover{
                background-color: c.$primaryColorLight;
            }
            @include f.desktop{
                width: 30%;
            }


            .step-number {
                @include f.textsm;
                @include f.flex(row);
                color: white;
                background-color: c.$primaryColor;
                justify-content: center;
                align-items: center;
                border-radius: 50px;
                width: 25px;
                height: 25px;
                position: absolute;
                left: -13px;
                }
            i {
                color: c.$shadowGrey;
            }

            .card-text {
                @include f.textsm;
                font-weight: 500;
            }
        }
    }
}