$primaryColor: #9356DC;
$primaryColorLight: #F5EDFF;

$secondaryColor: #FF79DA;

$tertiaryColor: #99E2D0;
$tertiaryColorDark: #0b8d6e;


// text color

$white: white;
$black: black;

// background colors

$lightGrey: #f6f6f6;
$darkGrey: #eaeaea;
$darkerGrey: #d0d0d0;
$shadowGrey: #929292;
$blackGrey: #353535;

