@use '../abstract/colors' as c;
@use '../abstract/fonts' as a;

@mixin textsm() {
    font-family: a.$text;
    font-size: small;
    color: c.$black;
    font-weight: 400;
};

@mixin textmd() {
    font-family: a.$text;
    font-size: medium;
    color: c.$black;
    font-weight: 200;
};

@mixin textlg() {
    font-family: a.$text;
    font-size: larger;
    color: c.$black;
    font-weight: 600;
};

@mixin shadow(){
    filter: drop-shadow(0 5px 3px c.$darkerGrey);
    &:hover {
        filter: drop-shadow(0 5px 3px c.$shadowGrey);
    }
};

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
}; 

@mixin card($height) {
    @include shadow();
    width: 100%;
    border-radius: 15px;
    height: $height;
    overflow: hidden;
    background-color: c.$white;
}

@mixin desktop(){
    @media all and (min-width: 992px){
        @content;
    }
};

@mixin tablet(){
    @media all and (min-width: 768px) and (max-width: 992px){
        @content;
    }
};