header {
  position: sticky;
  display: flex;
  justify-content: center;
  box-shadow: 0 3px 5px 0 #d0d0d0;
}
header img {
  margin: 5% 0%;
  width: 40%;
}

.Hero {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
}
.Hero i {
  align-self: center;
}
.Hero p {
  font-family: "Roboto", sans-serif;
  font-size: medium;
  color: black;
  font-weight: 400;
  margin-left: 15px;
}

.intro {
  display: flex;
  flex-direction: column;
  padding: 5%;
  background-color: #f6f6f6;
}
.intro > * {
  text-align: center;
}
.intro #intro-title {
  font-family: "Roboto", sans-serif;
  font-size: larger;
  color: black;
  font-weight: 600;
}
.intro #intor-description {
  font-family: "Roboto", sans-serif;
  font-size: large;
  color: black;
  font-weight: 200;
}

.main-button {
  filter: drop-shadow(0 5px 3px #d0d0d0);
  background-image: linear-gradient(#FF79DA, #9356DC);
  font-family: "Roboto", sans-serif;
  font-size: medium;
  color: black;
  font-weight: 400;
  color: white;
  border-radius: 30px;
  min-width: 200px;
  padding: 20px 5%;
  border: none;
}
.main-button:hover {
  filter: drop-shadow(0 5px 3px #929292);
}
.main-button:hover {
  opacity: 0.9;
}

.steps {
  display: flex;
  flex-direction: column;
  padding: 30px 5%;
}
.steps #steps-title {
  font-family: "Roboto", sans-serif;
  font-size: larger;
  color: black;
  font-weight: 600;
}
.steps .cards-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media all and (min-width: 992px) {
  .steps .cards-container {
    display: flex;
    flex-direction: row;
  }
}
.steps .cards-container .step-card {
  display: flex;
  flex-direction: row;
  filter: drop-shadow(0 5px 3px #d0d0d0);
  background-color: #f6f6f6;
  border-radius: 15px;
  align-items: center;
  gap: 20px;
  margin-left: 12px;
  padding-left: 32px;
  height: 60px;
  position: relative;
}
.steps .cards-container .step-card:hover {
  filter: drop-shadow(0 5px 3px #929292);
}
.steps .cards-container .step-card:hover {
  background-color: #F5EDFF;
}
.steps .cards-container .step-card .step-number {
  font-family: "Roboto", sans-serif;
  font-size: medium;
  color: black;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #9356DC;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  position: absolute;
  left: -12px;
}
.steps .cards-container .step-card i {
  color: #929292;
}
.steps .cards-container .step-card .card-text {
  font-family: "Roboto", sans-serif;
  font-size: medium;
  color: black;
  font-weight: 400;
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding: 5%;
}
.restaurants .restaurants-cards-container {
  border: solid;
}
.restaurants .restaurants-cards-container .restaurant-card {
  border: red solid;
  width: 100%;
  height: 200px;
}
.restaurants .restaurants-cards-container .restaurant-card .img-container {
  width: 100%;
  height: 70%;
}
.restaurants .restaurants-cards-container .restaurant-card .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  box-sizing: border-box;
}/*# sourceMappingURL=main.css.map */